:root {
    --first-main-color: #fffaec;
    --seconde-main-color: #1b3f39;
    --third-main-color: #ffbc00;
    --fourth-main-color: #c1c0b6;
    --fivth-main-color: #0a1614;
    --six-main-color: #142220;
    --seven-main-color: #1e2d2b;
    --eight-main-color: #626a65;
    --tenth-main-color: #0a8270;
    --el11-main-color: white;
    --tw12-main-color: #f3e4bb;
    --tw13-main-color: #e0e8dc;
    --tw14-main-color: #777;
    --tw15-main-color: #8cbeb7;
    --se16-main-color: #f3e9dc;
    --se17-main-color: #fef8ee;
    --se18-main-color: #618b4a;
    --se19-main-color: #dfb74c;
    --se20-main-color: #c39b30;
    /* --seconde-main-color: #1cc6c9; */
    /* --fourth-main-color: #ECF4D6; */
    /* background-color: #E6E6FA; */
    /* background-color: #E6E6FA; */
    /* background-color: #708090; */
    /* background-color: #FF6F61; */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
::selection{
    background-color: var(--third-main-color);
}
/* Start Header */
header {
    /* background: linear-gradient(to left, var(--first-main-color) 0%, var(--tw12-main-color) 100%); */
    /* background-color: #efd281;     */
    background-color: #52b7a9;
    border-bottom: 2px solid var(--eight-main-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
/* header .brand img {
    width: 27%;
    border-radius: 30px;
} */
header .navbar-brand {
    color: white;
    font-size: 14px;
    font-weight: 600;
    /* color: var(--eight-main-color); */
    color: black;
}
header .navbar-brand span {
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 13px;
    text-align: center;
}
header .navbar-brand:hover {
    color: var(--third-main-color);
}

/* Responsive */
@media (min-width: 991px) {
    header .navbar .navbar-header {
        padding-left: 350px;
    }
}

.navbar-toggler:focus {
    box-shadow: none;
}
.navbar .navbar-nav .nav-item .nav-link {
    padding-left: 10px;
    color: black;
    transition: 0.5s;
    margin-right: 5px;
    margin-bottom: 10px;
}
.navbar .navbar-nav .nav-item .nav-link.active,
.navbar .navbar-nav .nav-item:hover .nav-link {
    background-color: var(--third-main-color);
    border-radius: 50px;
}
.navbar .navbar-nav .nav-item .nav-link.sign-in,
.navbar .navbar-nav .nav-item .nav-link.sign-up {
    color: var(--el11-main-color);
    background-color: var(--tenth-main-color);
    border-radius: 20px;
}
.navbar .navbar-nav .nav-item:hover .nav-link.sign-in,
.navbar .navbar-nav .nav-item:hover .nav-link.sign-up {
    color: var(--seconde-main-color);
    background-color: var(--third-main-color);
}
/* DropMenu */
.nav-item.dropdown .dropdown-menu {
    /* background-color: var(--tw12-main-color); */
    background-color: #52b7a9;
}
.nav-item.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: var(--third-main-color);
    border-radius: 50px;
}
/* Translate */
.form-control:focus {
    border-color: none;
    box-shadow: none;
}
/* End Header */

/* Start WhatsApp */
.float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 30px;
    left: 30px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}
.float .my-float {
    margin-top: 11px;
}
/* End WhatsApp */

/* Start Home */
.home {
    padding-top: 90px;
    /* height: 100vh; */
    overflow: hidden;
}
.home .content-home .text .first-paragraph {
    color: var(--seconde-main-color);
    font-size: 35px;
    letter-spacing: 4px;
    font-weight: 900;
    font-family: 'Anton', sans-serif;
}
.home .content-home .image img {
    width: 100%;
    height: 350px;
    filter: brightness(0.5);
    transition: 0.3s;
}
.home .content-home .image img:hover {
    filter: none;
}
.home .content-home .text .second-paragraph {
    padding-top: 20px;
    font-size: 20px;
    color: var(--seconde-main-color);
    font-style: italic;
}

/* Responsive */
@media (max-width: 991px) {
    .home .content-home .text .first-paragraph {
        font-size: 30px;
    }
    .home .content-home .text .second-paragraph {
        font-size: 17px;
    }
}
@media (max-width: 767px) {
    .home .content-home div:nth-child(2) {
        text-align: center;
    }
    .home .content-home .text .first-paragraph {
        font-size: 25px;
    }
    .home .content-home .image .img-two img {
        display: none;
    }
    .home .content-home .text .second-paragraph {
        padding-top: 0;
    }
}

/* Start Bottom */
.btn {
    position: relative;
    display: block;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    width: 70%;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--seconde-main-color);
    background-color: var(--third-main-color);
    border: 2px solid var(--seconde-main-color);
    margin: 10px auto;
    cursor: pointer;
    transition: ease-out 0.5s;
}
@media (max-width: 991px) {
    .btn {
        width: 85%;
    }
}
@media (max-width: 767px) {
    .btn {
        width: 50%;
    }
}
.btn.btn-border::after,
.btn.btn-border::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    transition: .5s;
}

.btn.btn-border::after {
    top: -9px;
    left: -9px;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
}

.btn.btn-border::before {
    bottom: -9px;
    right: -9px;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
}
.btn.btn-border .fa-solid {
    margin-left: 5px;
    font-size: 20px;
}
.btn.btn-border .fa-solid.fa-microphone {
    font-size: 25px;
}
.btn.btn-border:hover {
    color: var(--third-main-color);
    background-color: var(--seconde-main-color);
}

.btn.btn-border:hover::after,
.btn.btn-border:hover::before {
    width: 30px;
    height: 30px;
    border-color: var(--third-main-color);
}
/* End Bottom */





.home .content-home .wisdom,
.home .content-home .wisdom::after {
    display: block;
    margin-top: 70px;
    width: 100%;
    height: 80px;
}
.home .content-home .wisdom {
    background-color: var(--tenth-main-color);
    transform: rotate(-7deg);
}
.home .content-home .wisdom::after {
    content: "When + timeless wisdom + meets literary excellence, beauty + manifests in its most + splendid form.";
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
    color: var(--seconde-main-color);
    background-color: var(--third-main-color);
    font-size: 20px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: rotate(10deg);
}

/* Responsive */
@media (max-width: 991px) {
    .home .content-home .wisdom::after {
        font-size: 15px;
    }
}
@media (max-width: 776px) {
    .home .content-home .wisdom,
    .home .content-home .wisdom::after {
        margin-top: 40px;
    }
    .home .content-home .wisdom::after {
        padding: 5px;
        transform: rotate(15deg);

    }

}
/* End Home */

/* Start About Us */
.about-us {
    overflow: hidden;
    background-color: var(--first-main-color);

}
.about-us .content-about-us .title-about-us,
.learn-more .title-learn-more,
.more-about-memorization-the-quran .container .title-more-about-memorization-the-quran,
.book-free-trial-class-now .title-book-free-trial-class-now,
.courses .content-the-holy-quran .title-the-holy-quran,
.quranic-recitation-mastery .content-mastery .title-quranic-recetation-mastery,
.what-is-tafsir .container .title-quranic-interpretation,
.price .container-fluid .title-price,
.faq .container-fluid .title-faq,
.blog .container-fluid .title-blog,
.contact-us .container-fluid .title-contact-us {
    font-size: 35px;
    color: var(--seconde-main-color);
    letter-spacing: 4px;
    font-weight: 900;
    font-family: 'Anton', sans-serif;
}


/* Start Bottom Learn More */
.btn.btn-border.learn-more {
    width: 30%;
}
@media (max-width: 991px) {
    .btn.btn-border.learn-more {
        width: 40%;
    }
}
@media (max-width: 767px) {
    .btn.btn-border.learn-more {
        width: 45%;
    }
    .about-us .content-about-us .rounded {
        height: 200px;
    }
}

/* End Bottom Learn More */

/* End About Us */

/* Start price */
.price {
    overflow: hidden;
}
.price .content-price .card {
    transition: 0.3s;
}
.price .content-price .card:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 41px;
    transform: translateY(-10px);
}

/* Start Bottom Price */
.price .content-price .button-reserve .btn.btn-border.price:hover {
    background-color: var(--tenth-main-color);
    /* background-color: var(--se18-main-color); */
    /* background-color: var(--first-main-color); */
    /* background-color: var(--se16-main-color); */
}
/* End Bottom Price */

/* End price */

/* Start FAQ */
.row.content-faq .colum-left {
    display: flex;
    justify-content: center;
    align-items: center;
}
.row.content-faq .colum-left img {
    width: 100%;
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 1029px) {
    .row.content-faq .colum-left img {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1029px) {
    .holder {
        width: 100%;
    }
}

.holder .item {
    border: 1px solid #DEE2E6;
  }
  .holder .item:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  .holder .item:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  .holder .accordion {
    padding: 20px;
    font-size: 16px;
    color: var(--seconde-main-color);
    cursor: pointer;
    margin: 0;
    transition: 0.3s;
  }
  .holder .accordion:after {
    content: "\221F";
    transform: rotate(-45deg);
    transform-origin: left;
    float: right;
    font-size: 20px;
    color: var(--seconde-main-color);
    transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in, 0.2s ease-in;
  }
  .holder .active, .holder .accordion:hover {
    background-color: var(--third-main-color);
    color: var(--seconde-main-color);
  }
  .holder .active:after {
    content: "\221F";
    transform: rotate(135deg);
    transform-origin: center;
    font-size: 20px;
  }
  .holder .accordion-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    font-size: 16px;
    line-height: 1.7;
  }

  @media (max-width: 776px) {
    .holder .item .accordion {
        font-size: 13px;
    }
  }



/* End FAQ */

/* Start Contact Us */
.contact-us .content-contact-us .colum-left {
    padding-top: 30px;
    text-align: center;
    color: var(--seconde-main-color);
}
.contact-us .content-contact-us .colum-left h2 {
    font-size: 50px;
    font-weight: 900;
}
.contact-us .content-contact-us .colum-left p {
    margin-bottom: 50px;
}
.contact-us .content-contact-us .colum-left .icon svg {
    /* padding: 20px 20px 16px 20px; */
    padding: 15px;
    background-color: var(--third-main-color);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 5px 5px 0px 0px #000000;
    margin-bottom: 20px;
    transition: 0.3s;
}
.contact-us .content-contact-us .colum-left .icon:hover svg {
    background-color: var(--seconde-main-color);
    transform: translateX(5px);
}
.contact-us .content-contact-us .colum-left .icon h4 {
    font-size: 25px;
    font-weight: 700;
}
.contact-us .content-contact-us .colum-left .icon p {
    font-weight: 700;
    cursor: pointer;
}
/* Start Form */
label {
    display: block;
    font-weight: 500;
    color: var(--seconde-main-color);
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #bfbfbf;
    border-radius: 20px;
    margin-bottom: 16px;
}
input:focus, textarea:focus {
    outline: none;
    border: 1px solid var(--third-main-color);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2)
}

/* End Form */
/* End Contact Us */

/* Start Footer */
.footer {
    background-image: url('../img/sunrise-5863751_1280.png'); 
    background-position: center center; 
    background-size: cover;
}
.social-links {
    text-align: center;
}
.social-links a {
    display: inline-block;
    color: var(--el11-main-color);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    transition: 0.3s ease;
    margin-bottom: 50px;
}
.social-links a:hover {
    opacity: 0.8;
}
.social-links a i {
    line-height: 3;
}
.facebook {
    background-color: #4267B2;
}
.linkedin {
    background-color: #0077b5;
}
.google {
    background-color: #d44638;
}
.whatsapp {
    background-color: #128C7E;
}
.footer .content-footer .colum-left h4, .footer .content-footer .colum-right h4 {
    font-weight: bold;
    color: var(--el11-main-color);
    margin-bottom: 20px;
}
.footer .content-footer .colum-left h4 {
    font-weight: 900;
}
.footer .content-footer .colum-left p {
    color: var(--el11-main-color);
    margin-bottom: 50px;
}
.colum-right ul li a {
    display: block;
    padding: 10px 0;
    color: var(--el11-main-color);
    text-decoration: underline;
}
@media(max-width: 767px) {
    .col-md-2.colum-right {
        display: none;
    }
}
/* End Footer */
